* {
  margin: 0px;
  padding: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  max-width: 1400px;
  margin: 40px auto;
  padding: 0 24px;
  background: #f9f8f7;
}

h1 {
  font-size: 40px;
  color: #232a2f;
}

p {
  font-size: 16px;
}

body {
  position: relative;
}

button {
  padding: 12px 20px;
  border-radius: 6px;
  background-color: #153147;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffff;
}

button:hover {
  background-color: #adb8bb;
  cursor: pointer;
  color: #153147;
}

.page-title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Modal */

.modal.open .modal-overlay {
  background-color: #000000c9;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.modal-container {
  position: absolute;
  flex-direction: column;
  width: 600px;
  height: 600px;
  transition: all 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 10px 20px 20px;
  border: 1px solid #232a2f;
  border-radius: 10px;
  background-color: #edeae4;
  display: none;
  z-index: 9;
}

.modal.open .modal-container {
  display: flex;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.modal-body {
  flex-grow: 1;
}

.button-close {
  padding: 10px;
  background-color: unset;
}

.button-close:hover {
  background-color: unset;
}

.button-close img {
  height: 20px;
  display: inline-block;
}

.modal-footer button {
  float: right;
}

/* Form*/

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-control {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

label {
  width: 150px;
  display: inline-block;
  margin-right: 10px;
  font-weight: 600;
}

input,
select {
  flex-grow: 1;
  border-radius: 4px;
  padding: 10px 8px;
  border: 1px solid #232a2f;
  background: #f9f8f7;
}

input:hover {
  cursor: pointer;
}

.quantity {
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #232a2f;
  padding: 12px 20px;
  margin: 80px auto 0;
  max-width: 450px;
}

.quantity input {
  margin: 0px 20px;
}

.quantity button {
  padding: 4px 8px;
  margin-left: 10px;
  background-color: transparent;
  background-color: #153147;
  border: none;
}

.quantity button:hover {
  background-color: #adb8bb;
}

/* Produse */

.card {
  display: flex;
  justify-content: start;
  width: 50%;
  height: 30%;
  border-radius: 20px;
  position: relative;
  margin-top: 15px;
  color: #232a2f;
}

.card-img {
  max-height: 500px;
  border-radius: 20px;
  max-width: 500px;
}

.card-title {
  display: flex;
  align-items: baseline;
  margin-left: 5px;
}

/* Tabel */

#tableID {
  display: flex;
  align-items: center;
  margin-left: -100px;
}

table td,
table th {
  padding: 3px 5px;
  border: 1px solid white;
  text-align: center;
  font-size: 14px;
}

table th,
tfoot {
  background-color: #153147;
  color: white;
}

table tbody tr {
  background-color: #8db5d3;
}

table tbody tr:nth-child(even) {
  background-color: #f9f8f7;
}
.imgContainer {
  margin-top: 29px;
}

.remove-btn:hover {
  background-color: white;
  cursor: pointer;
}
.edit-btn:hover {
  background-color: white;
  cursor: pointer;
}

.load-button {
  display: none;
}
