body {
  max-width: 1400px;
  margin: 40px auto;
  padding: 0 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 16px;
}

body {
  position: relative;
}

button {
  padding: 12px 20px;
  border-radius: 6px;
  background-color: #94d3d7;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

button:hover {
  background-color: #77aaad;
  cursor: pointer;
}

.page-title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal.open .modal-overlay {
  background-color: #000000c9;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-container {
  position: absolute;
  width: 600px;
  height: 600px;
  transition: all 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 10px 20px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 10px;
  background-color: #ffffff;
  display: none;
  z-index: 9;
}

.modal.open .modal-container {
  display: block;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-close {
  padding: 10px;
  background-color: unset;
}

.button-close:hover {
  background-color: unset;
}

.button-close img {
  height: 20px;
  display: inline-block;
}
