* {
  margin: 0px;
  padding: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

html {
  height: 100%;
}

.header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  padding: 6px 24px;
  background-color: #153147;
}

.header img {
  max-height: 50px;
}

.main {
  padding: 100px 24px 40px;
  margin: 0 auto;
  max-width: 1400px;
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f9f8f7;
}

h1 {
  font-size: 40px;
  color: #232a2f;
}

p {
  font-size: 16px;
}

body {
  position: relative;
}

button {
  padding: 12px 20px;
  border-radius: 6px;
  background-color: #153147;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffff;
}

button:hover {
  background-color: #adb8bb;
  cursor: pointer;
  color: #153147;
}

.page-title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  line-height: 1;
}

/* Modal */

.modal.open .modal-overlay {
  background-color: #000000c9;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.modal-container {
  position: absolute;
  flex-direction: column;
  width: 600px;
  height: 600px;
  transition: all 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 10px 20px 20px;
  border: 1px solid #232a2f;
  border-radius: 10px;
  background-color: #edeae4;
  display: none;
  z-index: 9;
}

.modal.open .modal-container {
  display: flex;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.modal-body {
  flex-grow: 1;
}

.button-close {
  padding: 10px;
  background-color: unset;
}

.button-close:hover {
  background-color: unset;
}

.button-close img {
  height: 20px;
  display: inline-block;
}

.modal-footer button {
  float: right;
}

/* Form*/

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-control {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

label {
  width: 150px;
  display: inline-block;
  margin-right: 10px;
  font-weight: 600;
}

input,
select {
  flex-grow: 1;
  border-radius: 4px;
  padding: 10px 8px;
  border: 1px solid #232a2f;
  background: #f9f8f7;
}

input:hover {
  cursor: pointer;
}

.quantity {
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #232a2f;
  padding: 12px 20px;
  margin: 80px auto 0;
  max-width: 450px;
}

.quantity input {
  margin: 0px 20px;
}

.quantity button {
  padding: 4px 8px;
  background-color: transparent;
  background-color: #153147;
  border: none;
  width: 30px;
  height: 30px;
}

.quantity button:hover {
  background-color: #adb8bb;
}

/* Produse */

.products-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  width: calc(50% - 40px);
  height: 30%;
  border-radius: 20px;
  position: relative;
  color: #232a2f;
  border: 1px solid #232a2f;
  box-sizing: border-box;
  overflow: hidden;
}

.card:not(:last-of-type) {
  flex-grow: 1;
}

.card-img {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  position: relative;
  border-radius: 20px 20px 6px 6px;
  object-fit: cover;
  object-position: center;
}

.card-title {
  display: flex;
  align-items: baseline;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 0px 20px 0px;
  background-color: white;
  padding: 14px 20px;
  border: 1px solid #153147;
}

/* Tabel */
.tableContent {
  padding: 16px 10px 10px;
  overflow-x: auto;
}

.card ::-webkit-scrollbar {
  height: 8px;
}

/* Track */
.card ::-webkit-scrollbar-track {
  background: #f9f8f7;
}

/* Handle */
.card ::-webkit-scrollbar-thumb {
  background: #153147;
}

table {
  width: 100%;
}

#tableID {
  display: flex;
  align-items: center;
  margin-left: -100px;
}

table td,
table th {
  padding: 8px 5px;
  border: 1px solid white;
  text-align: center;
  font-size: 14px;
}

table tfoot td {
  padding: 0;
  border: none;
}

table th {
  background-color: #153147;
  color: white;
}

table tbody tr {
  background-color: #8db5d3;
}

table tbody tr:nth-child(even) {
  background-color: #f9f8f7;
}

.imgContainer {
  width: 100%;
  cursor: pointer;
  border-radius: 16px;
  height: 80px;
}

.remove-btn:hover {
  background-color: white;
  cursor: pointer;
}
.edit-btn:hover {
  background-color: white;
  cursor: pointer;
}

.load-button {
  display: none;
  white-space: nowrap;
  margin-top: 20px;
}

footer {
  background-color: #153147;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  cursor: pointer;
  color: #8db5d3;
}

footer img {
  max-height: 30px;
}

@media only screen and (max-width: 1200px) {
  .main {
    margin: unset;
  }

  .products-container {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .page-title-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .modal-container {
    width: auto;
    height: auto;
    right: 20px;
    left: 20px;
    top: 50px;
  }

  label {
    width: 100px;
  }

  .quantity {
    margin: 20px 0 0;
    padding: 12px;
  }

  .quantity input {
    max-width: 60px;
  }

  .quantity label {
    width: 80px;
  }
}
